@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-steps-item-description {
    color: white !important;
}

.ant-steps-item-title {
    color: #DC1059 !important;
    font-weight: bold !important;
}

.ant-steps-item-icon {
    border-color: white !important;
}

.ant-steps-item-icon > .ant-steps-icon {
    color: white !important;
}

.ant-steps-finish-icon {
    color: #2cf178 !important;
}
